#filter-section {
    display: flex;
    flex-wrap: wrap; 
    align-items: start;
    gap: 16px; 
    margin-top: 36px;
    justify-content: center; 
    margin-right: 72px;
}

#filter-section select {
    background-color: transparent;
    padding: 14px; 
    width: 200px; 
    color: white;
    border-radius: 12px;
    border: 1px solid white;
    box-sizing: border-box; 
    transition: width 0.3s ease;
}

#filter-section option {
    background-color: #121212;
    color: white;
}

#filter-button {
    background-color: #2ECC71; 
    color: white;
    border: none;
    padding: 14px 50px; 
    font-weight: 700;
    font-size: 18px;
    border-radius: 12px;
    transition: background-color 0.3s, width 0.3s ease;
}

#filter-button:hover {
    background-color: #28A745; 
    cursor: pointer;
}

@media (max-width: 1000px) {
    #filter-section {
        justify-content: center; 
        margin-right: 0;
        gap: 12px; 
    }

    #filter-section select {
        width: 180px; 
        padding: 12px; 
    }

    #filter-button {
        padding: 12px 40px; 
    }
}

@media (max-width: 600px) {
    #filter-section {
        flex-direction: column;
        align-items: center; 
        gap: 16px; 
        margin-right: 0;
    }

    #filter-section select {
        width: 100%; 
        max-width: 250px; 
    }

    #filter-button {
        width: 100%; 
        max-width: 250px;
    }
}
