/* Grid Container */
.footer-container {
  margin-top: 48px;
  background-color: #000;
    display: grid;
    padding: 12px;
    grid-template-columns: 40% 1fr 1fr; /* 3 Columns: 40%, 30%, 30% */
    gap: 16px; /* Spacing between columns */
  }
  
  /* Grid Items */
  .grid-item {
    padding: 16px;


  }

  .site-map{
    margin-top: 16px;
    color: #fff;
  }

  .site-map ul a{
    text-decoration: none;
    color: white;

  }

  .site-map ul a li{
    list-style: none;
    text-align: start;
  }

  .grid-item.first .navbar-brand {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
  }

  .grid-item.grid-item.first .footer-summary p{
    max-width: 400px;
  }

  .footer-summary{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    padding: 12px;
    color: white;
    text-align: start;
  }

  .socials{
    margin-top: 16px;
    color: white;
  }

  .socials .social-links{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: start;
    align-items: center;
    max-width: 200px;
  }

  .socials .social-links img{
    width: 40px;
  }

  .socials .social-links button{
    padding: 8px 16px;
    border-radius: 8px;
    background-color: white;
    color: #000;
  }

  /* Responsive Design */
  @media screen and (max-width: 768px) {
    .footer-container {
      grid-template-columns: 1fr; /* Single column for mobile */
    }
  }
  