/* Grid Container */
.footer-container {
  margin-top: 48px;
  background-color: #000;
    display: grid;
    padding: 12px;
    grid-template-columns: 40% 1fr 1fr; /* 3 Columns: 40%, 30%, 30% */
    gap: 16px; /* Spacing between columns */
  }
  
  /* Grid Items */
  .grid-item {
    padding: 16px;
    padding-left:64px;


  }

  .site-map{
    margin-top: 16px;
    color: #fff;   
  }


  .site-map ul a{
    text-decoration: underline;
    color: white;

  }

  .site-map ul a li{
    list-style: none;
    margin-left: -28px;
  }

  .grid-item.first .navbar-brand {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
  }

  .grid-item.grid-item.first .footer-summary p{
    max-width: 400px;
  }

  .footer-summary{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    padding: 12px;
    color: white;
    text-align: start;
  }

  .socials{
    margin-top: 16px;
    color: white;
  }

  .socials .social-links{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: start;
    align-items: center;
    max-width: 200px;


  }

  .socials .social-links img{
    width: 40px;
  }

  .social-links .social-link{
    border-radius: 12px;
    transition: 0.6s;
  }

  .social-links .social-link:hover{
    transition: 0.6s 0.5s;
    transform: scale(1.1);
  }

  .socials .social-links .social-link.lichess{
    width: 160px;
  }

  /* Responsive Design */
  @media screen and (max-width: 768px) {
    .footer-container {
      grid-template-columns: 1fr; /* Single column for mobile */
      gap: 0 !important;
      margin: 0;
    }

    .grid-item.first{
      padding-left: 8px;
      
    }

    .grid-item{
      padding-left: 18px;
    }
  }
  