/* Grid Container */
.footer-container {
    display: grid;
    grid-template-columns: 40% 1fr 1fr; /* 3 Columns: 40%, 30%, 30% */
    gap: 16px; /* Spacing between columns */
  }
  
  /* Grid Items */
  .grid-item {
    background-color: #f0f0f0;
    padding: 16px;
    border: 1px solid #ccc;
    text-align: center;
  }

  .navbar-brand {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
  }

  .footer-summary{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Responsive Design */
  @media screen and (max-width: 768px) {
    .footer-container {
      grid-template-columns: 1fr; /* Single column for mobile */
    }
  }
  