*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif !important;
    background-color: #121212 !important;
}

.hero-section {
    background-color: #121212;
    width: 90vw; /* 90% of the viewport width */
    height: 80vh; /* 80% of the viewport height */
    display: flex;
    margin-top: 80px !important;
    padding-left: 40px;
    padding-top: 80px;
    align-items: center;
    justify-content: start;
    background-image: url("../assets/chessplayer.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto; /* Centers the hero section horizontally and vertically */
    border-radius: 24px; /* Optional: Rounded corners for a polished look */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Optional: Adds depth */
}



.hero-content{
    color: white;
}

.hero-content h1{
    font-weight: bolder;
    font-size: 48px;
    max-width: 700px;
}

.hero-content h6{
    font-weight: 500;
    font-size: 24px;
    margin-top: 12px;
}
.bet-now{
    background-color: #000; 
    color: white;
    border: none;
    padding: 10px 50px;
    margin-top: 12px;
    font-weight: 700;
    font-size: 18px;
    border-radius: 4px;
    transition: background-color 0.3s;
    box-shadow: 0 1px 12px rgba(255, 255, 255, 0.479);     

}

.bet-now :hover{
    cursor: pointer ;
}
