/* Basic reset */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } 
  
  body {
    font-family: 'Montserrat', sans-serif !important; 
}

  /* Navbar styles */
  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px !important;
    background-color: #121212;
    color: white;
    position: fixed !important;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 1px 20px #999;
  }
  
  .navbar .navbar-brand {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
  }

  .navbar .navbar-brand:hover{
    color: #fff;
  }

  #bets-text{
    color: #238B57;
  }
  
  .navbar-links {
    display: flex;
    gap: 80px;
  }
  
  .navbar-links .navbar-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    transition: color 0.3s;
  }
  
  .navbar-link:hover {
    color: hsl(150, 60%, 34%); 
    
  }

  .navbar-links .navbar-link.active{
    font-weight: 600;
    font-size: 18px;
    color: #238B57;
  }
  
  .navbar-button {
    background-color: #0a8f4c; 
    color: white;
    border: none;
    padding: 10px 50px;
    font-weight: 700;
    font-size: 18px;
    border-radius: 4px;
    transition:0.3s;
    box-shadow: 0 1px 12px rgba(255, 255, 255, 0.479);     

  }

  .navbar-button:hover{
    cursor: pointer;
  }
  
   #menu{
    display: none;
  }

  .menu-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Adjust based on your navbar height */
    right: 20px; /* Align with your design */
    background-color: #121212;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 10;
  }
  
  .menu-links .navbar-link {
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  .menu-links .navbar-link:hover,
  .menu-links .navbar-link.active {
    background-color: #121212;
  }
  