/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  /* Navbar styles */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #121212;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Drop shadow */
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }

  .navbar-brand:hover{
    color: #fff;
  }

  #bets-text{
    color: #238B57;
  }
  
  .navbar-links {
    display: flex;
    gap: 20px;
  }
  
  .navbar-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
  }
  
  .navbar-link:hover {
    color: #238B57; /* Highlight color on hover */
  }
  
  .navbar-button {
    background-color: #238B57; /* Button color */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .navbar-button:hover {
    background-color: #e07b00; /* Button hover color */
  }
  