
.progames-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    flex-wrap: wrap; /* Allows wrapping to the next line on smaller screens */
    gap: 20px; /* Adds spacing between cards */
}

.progames-card {
    flex: 1 1 calc(50% - 40px); /* Take 50% of the width minus the gap on larger screens */
    max-width: 550px; /* Limit the maximum width */
    padding: 16px;
    margin: 10px;
    background: #2c2c2c !important;
    border-radius: 12px;
    border: 1px solid transparent;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 20px rgba(59, 57, 57, 0.5); 
    transition: transform 0.3s, background-color 0.3s;
}

.progames-card:hover {
    background-color: #1b1b1b !important;
    cursor: auto;
    transform: scale(1.05); /* Adds a slight zoom effect */
    
}

.progames-card h3 {
    font-weight: bolder;
}

.progames-card .player-info {
    margin-top: 12px;
    font-weight: 500;
    text-align: center;
}

.profile-thumbnail {
    border-radius: 50px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.player-info .playername {
    margin-top: 8px;
    font-size: 1rem;
}

.picks{
    background-color: rgb(82, 80, 80);
    padding: 0px !important;
}

.picks:hover{
    cursor: pointer;
    background-color: #242121;
}

/* Responsive Design */

/* Medium screens (tablets): Display 2 cards per row */
@media (max-width: 1000px) {
    .progames-card {
        flex: 1 1 calc(50% - 20px); /* 50% width for two cards per row */
    }
}

/* Small screens (mobile): Display 1 card per row */
@media (max-width: 600px) {
    .progames-card {
        flex: 1 1 100%; /* Full width for one card per row */
    }

    .progames-section {
        gap: 16px; /* Reduce spacing between cards */
    }
}
