
.progames-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    flex-wrap: wrap;
    gap: 20px; 
}

.progames-card {
    flex: 1 1 calc(50% - 40px);
    max-width: 550px;
    padding: 16px;
    margin: 10px;
    background: #2c2c2c !important;
    border-radius: 12px;
    border: 1px solid transparent;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 20px rgba(59, 57, 57, 0.5); 
    transition: transform 0.3s, background-color 0.3s;
}

.progames-card:hover {
    background-color: #1b1b1b !important;
    cursor: auto;
    transform: scale(1.05); 
    
}

.progames-card h3 {
    font-weight: bolder;
}

.progames-card .player-info {
    margin-top: 12px;
    font-weight: 500;
    text-align: center;
}

.profile-thumbnail {
    border-radius: 50px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.player-info .playername {
    margin-top: 8px;
    font-size: 1rem;
}

.picks{
    background-color: rgb(82, 80, 80);
    padding: 0px !important;
}

.picks:hover{
    cursor: pointer;
    background-color: #242121;
}

@media (max-width: 1000px) {
    .progames-card {
        flex: 1 1 calc(50% - 20px); 
    }
}

@media (max-width: 600px) {
    .progames-card {
        flex: 1 1 100%;
    }

    .progames-section {
        gap: 16px;
    }
}
